 @page
@model MyMovies.Pages.MovieAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Movies</h1>

<p>
    <a asp-page="Create" class="btn btn-secondary">Create New</a>
</p>

@foreach (var item in Model.Movies)
{
    <div class="row row-photoadmin">

        <div class="col-md-3">
            <img src="/uploads/@item.FileName" class="img-fluid" />
        </div>

        <div class="col-md-9">
            <h3>@item.Title</h3>
            <p>@item.Category.Title</P>
            <p>@item.Genre</p>
            <p>@item.Year</p>
            <p>
                <a asp-page="./Edit" asp-route-id="@item.MovieId" class="btn btn-primary">Edit</a>&nbsp;&nbsp;&nbsp;
                <a asp-page="./Delete" asp-route-id="@item.MovieId" class="btn btn-danger">Delete</a>
            </p>
        </div>

    </div>
}
